<header>
  <h1>User List</h1>
  <label for="dataSource">Select Data Source:</label>
  <select id="dataSource" [(ngModel)]="selectedSource" (change)="onDataSourceChange(selectedSource)">
    <option value="SQL">SQL</option>
    <option value="JSON">JSON</option>

  </select>
</header>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Company</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.company }}</td>
      <td>

        <a [routerLink]="['/users', user.id]" style="margin-right: 40px;">View</a>

        <button (click)="deleteUser(user.id)">Delete</button>


      </td>
    </tr>
  </tbody>
</table>
